* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #f7f7f7;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}
h2 {
    font-size: 2.0em;
    margin: 10px 0;
}

.form-wrapper {
    padding: 30px 50px;
}

.form-wrapper .form-title {
    font-size: 2em;
    line-height: 1.2em;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 20px;
}

.form-wrapper .input-wrapper {
    width: 100%;
    padding: 5px 0;
}

.form-wrapper .input-wrapper label {
    display: block;
    font-size: 1.2em;
}

.form-wrapper .input-wrapper label.input-required:after {
    content: "*";
    color: #ff0000;
}

.form-wrapper .input-wrapper .text-input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 1.2em;
    padding: 5px 10px;
}

.form-wrapper .input-wrapper textarea {
    resize: none;
    min-height: 50px;
    max-height: 250px;
}

.form-wrapper .submit-wrapper {
    padding-top: 10px;
    text-align: right;
}

.box.errors {
    background: #ffdddd;
    border-color: #f66;
}
.errors p {
    font-size: 1em;
    line-height: 1.5em;
}

.box {
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
    
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 50px;
    border: 1px solid #bbbbbb;
}

.box p {
    margin: 15px 0;
}

#header {
    box-sizing: border-box;
    width: 800px;
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 0 20px;
    
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #bbbbbb;
    border-top: none;
}

#header .header-item {
    display: inline-block;
    margin-left: 50px;
}
#header .header-item:first-child {
    margin-left: 0;
}

#header .navbar {
    list-style-type: none;
}

#header .navbar .navitem {
    display: inline-block;
    margin-left: 15px;
    line-height: 50px;
}
#header .navbar .navitem:first-child {
    margin-left: 0;
}

#header .navbar .navitem a {
    text-decoration: none;
    color: #777777;
}

#header .navbar .navitem a:hover {
    text-decoration: underline;
    color: #000000;
}

#header .navbar .navitem a.current {
    color: #000000;
}

#header #left-navbar {
    
}

#header #right-navbar {
    
}

#header #search-wrapper {
    
}

#header #search-wrapper #search-input {
    padding: 4px 10px;
    width: 200px;
    border: 1px solid #bbbbbb;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

#header #search-wrapper #search-submit {
    padding: 3px 5px;
}

.submit-button {
    outline: none;
}
span.button, .submit-button {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
    min-width: 70px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #eeeeee;
    font-size: 1.0em;
}
span.button:hover, .submit-button:hover {
    text-decoration: underline;
    background: #f7f7f7;
    cursor: pointer;
}
span.button:active, .submit-button:active {
    background: #e7e7e7;
    border-color: #333333;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.display-user {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}
.display-user .display-user-header {
    
}
.display-user .display-user-header .display-name {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
}
.display-user .display-user-header .display-handle {
    display: inline-block;
    font-size: 1.1em;
}
.display-user .display-user-content {
    
}
.display-user .display-user-content .display-bio {
    display: inline-block;
    line-height: 1.5em;
}

.pagination {
    margin-top: 20px;
}
.pagination .curr-page {
    display: inline-block;
    text-align: center;
    width: 50%;
}
.pagination .prev-page {
    display: inline-block;
    text-align: left;
    width: 25%;
}
.pagination .next-page {
    display: inline-block;
    text-align: right;
    width: 25%;
}