* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

p, input, textarea, div {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

body {
    background: #f7f7f7;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}
h2 {
    font-size: 2.0em;
    margin: 10px 0;
}

.form-wrapper {
    padding: 30px 50px;
}

.form-wrapper .form-title {
    font-size: 2em;
    line-height: 1.2em;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 20px;
}

.form-wrapper .input-wrapper {
    width: 100%;
    padding: 5px 0;
}

.form-wrapper .input-wrapper label {
    display: block;
    font-size: 1.2em;
}

.form-wrapper .input-wrapper label.input-required:after {
    content: "*";
    color: #ff0000;
}

.form-wrapper .input-wrapper .text-input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 1.0em;
    padding: 5px 10px;
}

.form-wrapper .input-wrapper textarea {
    resize: none;
    min-height: 50px;
    max-height: 250px;
}

.form-wrapper .submit-wrapper {
    padding-top: 10px;
    text-align: right;
}

.box.errors {
    background: #ffdddd;
    border-color: #f66;
}
.errors p {
    font-size: 1em;
    line-height: 1.5em;
}

.box {
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
    
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 50px;
    border: 1px solid #bbbbbb;
}

.box p {
    margin: 15px 0;
}

#header {
    box-sizing: border-box;
    width: 800px;
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 0 20px;
    
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #bbbbbb;
    border-top: none;
}

#header .header-item {
    display: inline-block;
    margin-left: 50px;
}
#header .header-item:first-child {
    margin-left: 0;
}

#header .navbar {
    list-style-type: none;
}

#header .navbar .navitem {
    display: inline-block;
    margin-left: 15px;
    line-height: 50px;
}
#header .navbar .navitem:first-child {
    margin-left: 0;
}

#header .navbar .navitem a {
    text-decoration: none;
    color: #777777;
}

#header .navbar .navitem a:hover {
    text-decoration: underline;
    color: #000000;
}

#header .navbar .navitem a.current {
    color: #000000;
}

#header #left-navbar {
    
}

#header #right-navbar {
    
}

#header #search-wrapper {
    
}

#header #search-wrapper #search-input {
    padding: 4px 10px;
    width: 200px;
    border: 1px solid #bbbbbb;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

#header #search-wrapper #search-submit {
    padding: 3px 5px;
}

.submit-button {
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
span.button, .submit-button {
    text-align: center;
    display: inline-block;
    min-width: 70px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #eeeeee;
    font-size: 1.0em;
}
span.button:hover, .submit-button:hover {
    text-decoration: underline;
    background: #f7f7f7;
    cursor: pointer;
}
span.button:focus, .submit-button:focus {
    background: #f7f7f7;
}
span.button:active, .submit-button:active {
    background: #e7e7e7;
    border-color: #333333;
}
span.button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

#create-post-form textarea {
    min-height: 75px;
}
#create-post-form .submit-wrapper {
    padding-top: 0;
}
#create-post-form .submit-button {
    min-width: 0;
    padding: 3px 7px;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.list-item {
    box-sizing: border-box;
    width: 100%;
    min-height: 63px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.list-item .list-item-photo {
    width: 50px;
    float: left;
    margin-right: 10px;
}
.list-item .list-item-photo img {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.list-item .list-item-header {

}
.list-item .list-item-header .list-item-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
}
.list-item .list-item-header .list-item-handle {
    display: inline-block;
    font-size: 1.1em;
}
.list-item .list-item-content {
    line-height: 1.5em;
}
.list-item .list-item-footer {
    font-size: 0.8em;
    line-height: 1.5em;
    color: #999999;
}
.list-item .list-item-footer .list-item-footer-date {
    color: #666666;
}

.pagination {
    margin-top: 20px;
}
.pagination .curr-page {
    display: inline-block;
    text-align: center;
    width: 50%;
}
.pagination .prev-page {
    display: inline-block;
    text-align: left;
    width: 25%;
}
.pagination .next-page {
    display: inline-block;
    text-align: right;
    width: 25%;
}

.tabbed-box a.active {
    font-weight: bold;
    color: #000000;
}

.hidden, .hidden * {
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.1s ease-in-out 0.4s;
    margin-bottom: 0;
    position: relative;
    z-index: -100; 
}

.favorite a.selected {
    color: #e90;
}

.profile-photo img {
    border: 1px solid #ccc;
    border-radius: 10px;
}